doctype
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Article 
  body#artic
    h1 Titre : #{moArticle.nom}
    .div
      ul.photolist1
        li numero de l'article : #{moArticle.idArticle}
        li nom : #{moArticle.nom}&nbsp;  #{moArticle.nom}
        li date de publication: #{moArticle.dateDeCreation}
        li categorie : #{moArticle.categorie}
        li categorie : #{moArticle.marque}  
   p
     | image
     img(src='#{moArticle.url}', alt='Slide Image 1')
    .div
      strong contenue de l'aricle: 
      !{moArticle.desc}
   
   p  
     a(href="/") retourn a la page d'acceuille
   p 
     a(href="/admin/#{moArticle.id}", attribut=moArticle.nom) modifier ce dossier        
   
